.nav {
    display: grid;
    grid-template-columns: 15% 25% 25% 25% 10%;
    /* grid-template-areas: ". active link1 link2 disabled notifications"; */
    justify-items: center;
    /* padding-bottom: .5em; */
    border-bottom: 2px solid lightslategray;
    align-items: center;
}


.nav > button {
    position: relative;
    justify-self: right;
    background-color:lightgray;
    font-weight: bold;
    border-radius: 7px;
    animation: blink .5s ease-out alternate infinite;
    cursor: pointer;
    margin-right: .5em;
    margin-bottom: .5em;
    order: 3;
}

.nav > a {
    text-decoration: none;
    color: var(--charcoal-grey);
    font-weight: bold;
    order: 2;
}

.nav > a:hover {
    font-weight: bolder;
    font-size: 110%;
}

.nav > .active {
    justify-self: left;
    margin-left: 1em;
    order: 0;
}

.nav > .active:hover {
    font-size: 100%;
    font-weight: bold;
}

.nav > .disabled {
    order: 1;
}

.nav > .disabled:hover {
    cursor: not-allowed;
    font-size: 100%;
    font-weight: bold;
}

@keyframes blink {
    from {
        background-color: lightgray;
        transform: translate(0px, 2px);
    }
    to {
        background-color: red;
        color: white;
        box-shadow: 1px 1px 4px 2px rgb(252, 184, 184), -1px -1px 4px 2px rgb(252, 184, 184);
        transform: translate(0, -3px);
    }
}
